<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>报货报表自动处理程序</title>
   <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: #ffffff;
            background-color: #4CAF50;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            font-size: 18px;
        }

        a:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h1>报货报表自动处理程序ver0.1</h1>
    <a href="xinpin">新品报货（销售）</a>
    <a href="danpin">单品报货（90天）</a>
    <a href="caipin">套餐菜品名称还原</a>
</body>
</html>